* {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;

  width: 100vw;
  height: 100px;
  padding-bottom: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;

  background-color: #ffd6a7;
}

.title-container {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  color: white;
  background-color: #ff7b00;
  border-radius: 10px 10px 0 0;
}

.header_buttons {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reload-button {
  width: 40px;
  height: 43px;
  border: 0;

  background: transparent;

  object-fit: cover;
  background-size: 40px;

  background-image: url(/reload.svg);

  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;

  width: 100vw;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.add-item-btn {
  display: flex;

  border: 0;
  background: transparent;

  justify-content: center;
  align-items: center;
  gap: 15px;
}

.plus-img {
  height: 20px;
  width: 20px;
}

.todo-items {
  padding: 110px 0 60px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-item {
  padding: 0 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 40vw;
  min-height: 40px;

  margin: 2px;
  border: 1px solid black;
  border-radius: 2px;
}

.todo-item_text {
  margin: 4px;
  border: 0;

  resize: none;
  overflow-y: visible;

  width: 100%;
  height: 32px;
  text-overflow: ellipsis;
}

.todo-item_text:focus {
  border: 1px solid black;
}

.todo-item_btn {
  width: 25px;
  height: 25px;
  background: transparent;

  background-repeat: no-repeat;
  background-position: center;

  border: 0;
  object-fit: contain;
  background-size: 25px;
}

label {
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 11px;
}

label:before {
  content: "";
  display: inline-block;

  width: 20px;
  height: 20px;

  position: absolute;
  border-radius: 50%;
  border: 2px black solid;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label:before {
  content: "✓";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

  border: 2px green solid;
  font-size: 20px;
  color: green;
  text-align: center;
  line-height: 20px;
}

.todo-item_btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.todo-item_edit-btn {
  background-image: url(/edit.svg);
}

.todo-item_delete-btn {
  background-image: url(/delete.svg);
}

.todo-item_edit-apply-btn {
  background-image: url(/apply.svg);
}

.todo-item_edit-cancel-btn {
  background-image: url(/cancel.svg);
}

.todo-item_edit-input {
  border: 0;
  width: 70%;
  height: 40px;
  margin-right: auto;

  background-color: #fff;
}

.todo-item_edit-menu {
  display: none;

  justify-content: flex-end;

  width: 100%;
  height: 40px;
}

.date-input {
  width: 200px;
  border: 0;
  background: transparent;
}

.datepicker-toggle {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 20px;
}
.datepicker-toggle-button {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: fit-content;
  background-image: url("data:image/svg+xml;base64,...");
  text-align: center;
}

.date-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}
.date-input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.add-item-input {
  color: black;
  outline: none;
  border: 0;
}

.add-item-input:focus {
  border-radius: 5px;
  border: 1px black solid;
}
